<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>スタッフCによるアンケート</title>
</head>

<body>
    <h1>スタッフCによるアンケート</h1>
    <div id="app">
        <button type="button" @click="start_talk_a()">スタッフCと会話する</button>
        <div v-if="started_talk_c">
            {{ c_dialog_body(c_dialog_order) }}
        </div>
        <div v-if="answering_question">
            <button type="button" @click="answer_question(5)">5</button><br>
            <button type="button" @click="answer_question(4)">4</button><br>
            <button type="button" @click="answer_question(3)">3</button><br>
            <button type="button" @click="answer_question(2)">2</button><br>
            <button type="button" @click="answer_question(1)">1</button><br>
        </div>
    </div>
    <script src="script/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    dialogs: null,
                    started_talk_c: false,
                    c_dialog_order: 0,
                    answering_question: false
                };
            },
            async mounted() {
                url = 'https://japanskills2023.m5a.jp/api/dialogs';
                response = await fetch(url);
                this.dialogs = await response.json();
                console.log(this.dialogs);
                window.addEventListener('keydown', this.push_space_key);
            },
            methods: {
                start_talk_a() {
                    this.started_talk_c = true;
                    this.answering_question = true;
                },
                answer_question(star) {
                    const postData = {
                        star: 1
                    };
                    url = 'https://japanskills2023.m5a.jp/api/survey';
                    fetch(url,
                        {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(postData)
                        }
                    );
                    this.c_dialog_order++;
                },
                c_dialog_body(order) {
                    c = this.dialogs.filter(item => item.staff == "C");
                    c.sort((a, b) => a.order - b.order);
                    return c[order].body;
                }
            },
        });
        app.mount('#app');
    </script>
</body>