<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>観光地一覧</title>
    <style>
        li {
            border: 1px solid black;
            list-style: none;
        }
    </style>
</head>

<body>
    <h1>観光地詳細表示</h1>
    <div id="app">
        <template v-if="data.sightseeing_list">
            <ul>
                <li v-for="s in data.sightseeing_list">
                    <img v-bind:src="s.photo" width="100">
                    <button type="button" v-on:click="clicked_sightseeing" v-bind:data-id="s.id">
                        {{ s.title }}
                    </button>
                </li>
            </ul>
        </template>
        <template v-if="data.show_sightseeing_detail">
            <img v-bind:src="data.selected_sightseeing.photo" width="500"><br>
            {{ data.selected_sightseeing.title }}<br>
            {{ data.selected_sightseeing.genre }}<br>
            {{ data.selected_sightseeing.price }}<br>
            {{ data.selected_sightseeing.location }}<br>
            {{ data.selected_sightseeing.access }}<br>
            {{ data.selected_sightseeing.sightseeing_description }}<br>
        </template>
    </div>
    <script src="script/vue@3.2.36.js"></script>
    <script>
        let app = {
            setup() {
                let data = Vue.reactive({
                    sightseeing_list: null,
                    show_sightseeing_detail: false,
                    selected_sightseeing: null
                });
                let clicked_sightseeing = (event) => {
                    // v-bind:data-idのこと
                    let selected_id = event.target.dataset.id;
                    let url = 'https://young2022.herokuapp.com/api/sightseeing/' + selected_id;
                    fetch(url)
                        .then(response => {
                            return response.json();
                        })
                        .then(json => {
                            data.selected_sightseeing = json;
                            data.show_sightseeing_detail = true;
                        });
                };
                let url = 'https://young2022.herokuapp.com/api/sightseeing';
                fetch(url)
                    .then(response => {
                        return response.json();
                    })
                    .then(json => {
                        data.sightseeing_list = json;
                    });
                return {
                    data,
                    clicked_sightseeing
                };
            }
        };
        Vue.createApp(app).mount('#app');
    </script>
</body>

</html>