<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>観光地一覧</title>
    <style>
        li {
            border: 1px solid black;
            list-style: none;
        }
    </style>
</head>

<body>
    <h1>観光地検索</h1>
    <div id="app">
        <div>
            <input type="text" v-model="data.input_search_text">
            <button type="button" v-on:click="clicked_search">検索</button>
        </div>
        <template v-if="data.show_search_result">
            <p>{{ data.filtered_sightseeing_list.length }}件の観光地があります。</p>
            <ul>
                <li v-for="s in data.filtered_sightseeing_list">
                    <img v-bind:src="s.photo" width="500"><br>
                    {{ s.title }}<br>
                    {{ s.genre }}<br>
                    {{ s.price }}<br>
                    {{ s.location }}<br>
                </li>
            </ul>
        </template>
    </div>
    <script src="script/vue@3.2.36.js"></script>
    <script>
        let app = {
            setup() {
                let data = Vue.reactive({
                    sightseeing_list: null,
                    filtered_sightseeing_list: null,
                    show_search_result: false,
                    input_search_text: null
                });
                let clicked_search = () => { 
                    data.filtered_sightseeing_list = data.sightseeing_list.filter(s => s.title.includes(data.input_search_text))
                    data.show_search_result = true;
                };
                let url = 'https://young2022.herokuapp.com/api/sightseeing';
                fetch(url)
                    .then(response => {
                        return response.json();
                    })
                    .then(json => {
                        data.sightseeing_list = json;
                    });
                return {
                    data,
                    clicked_search
                };
            }
        };
        Vue.createApp(app).mount('#app');
    </script>
</body>

</html>